
.idea       # idea files
.DS_Store       # Mac OS files
.vscode     # Visual Studio Code files
# Byte-compiled / optimized / DLL files
venv    # virtualenv
.venv   # virtualenv
*.mp3       # mp3 files
.dist
.history
.venv